@import "tailwindcss";

:root {
  --primary-rgb: 67, 227, 179;
}

* {
  cursor: url(/default-cursor.gif), auto !important;
}

body {
  background: black;
  color: white;
  font-family: "Menlo", monospace;
  font-size: 14px;
}

a {
  color: rgb(var(--primary-rgb));
}

a:hover {
  text-decoration: underline;
  cursor: url(/pointer-cursor.gif), auto !important;
}

button {
  opacity: 50%;
}

button:hover {
  opacity: 100%;
  cursor: url(/pointer-cursor.gif), auto !important;
}

ul {
  list-style-type: lower-latin;
}
