@import "tailwindcss";

:root {
  --primary-rgb: 67, 227, 179;
}

* {
  cursor: url(/default-cursor.gif), auto !important;
}

body {
  background: black;
  color: white;
  font-family: "Menlo", monospace;
  font-size: 14px;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: rgb(var(--primary-rgb));
}

a:hover {
  text-decoration: underline;
  cursor: url(/pointer-cursor.gif), auto !important;
}

button {
  opacity: 50%;
}

button:hover {
  opacity: 100%;
  cursor: url(/pointer-cursor.gif), auto !important;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: lower-latin;
  gap: 0.5rem;
}

.glitch-text {
  position: relative;
  text-shadow:
    2px 0 #f00,
    -2px 0 #0f0,
    0 2px #00f,
    0 -2px #ff0;
  animation: glitch 0.2s infinite;
}

@keyframes glitch {
  0% {
    text-shadow:
      2px 0 #f00,
      -2px 0 #0f0,
      0 2px #00f,
      0 -2px #ff0;
  }
  25% {
    text-shadow:
      -2px 0 #f00,
      2px 0 #0f0,
      0 -2px #00f,
      0 2px #ff0;
  }
  50% {
    text-shadow:
      0 2px #f00,
      0 -2px #0f0,
      2px 0 #00f,
      -2px 0 #ff0;
  }
  75% {
    text-shadow:
      0 -2px #f00,
      0 2px #0f0,
      -2px 0 #00f,
      2px 0 #ff0;
  }
  100% {
    text-shadow:
      2px 0 #f00,
      -2px 0 #0f0,
      0 2px #00f,
      0 -2px #ff0;
  }
}
